body {
    background-color: lightblue;


}

#main-quiz-box {
    margin: auto;

    height: 500px;
    width: 700px;
    max-width: 80%;
    box-align: center;
    background-color: whitesmoke;
    text-align: center;
    border-radius: 20px;

}

.quiz-option-button {
    margin: 10px;
    height: 50px;
    width: 100px;
    border-radius: 20px;
    font-size: 20px;

}

.answer-button {
    margin: 10px;
    height: 50px;
    width: 100px;
    border-radius: 20px;
    font-size: 30px;
}

.quiz-option-button:hover {
    border-color: orange;
    border-radius: 20px;
    background-color: darkgray;

}

.answer-button:hover {
    border-color: orange;
    border-radius: 20px;
    background-color: darkgray;
}

.hidden {
    display: none;
}

#scores {
    float: left;
    font-size: 100px;



}

#sports-button {}

#music-button {}

#film-button {}

#randon-button {}

#answer-A {}

#answer-B {}

#answer-C {}

#answer-D {}

#name-entry {
    margin: auto;
    height: 200px;
    width: 250px;
}